header {
    margin-left: 30px;
    margin-right: 30px;
    min-width: 700px;
    text-align: center;
    font-family: sans-serif;
}
header h1 {
    color: #0a2534
}
div.input_form {
    margin-top: 10px;
}



div.container {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 840px;
    position: relative;
    background-color: white;
    border: none;
}

div.description {
    margin-left: 520px;
    min-width: 300px;
}

div.left_part {
    width: 480px;
    float: left;
    position: absolute;
    height: 350px;
    top: 50%;
    margin-top: -185px;
}
img.graph {
    width: 150px;
    height: 150px;
    margin-right: 5px;
}
img.kitten {
    margin-left: 5px;
    width: 150px;
    height: 150px;
}

div.graph {
    text-align: center;
}


div.result_table {
    clear: both;
    margin: 20px;
    min-width: 840px;
}
footer {
    margin: 20px;
    min-width: 840px;
}
#result_table {
    width: 100%;
    margin-bottom: 20px;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}


.getIn {
    background-color: green;
}

.notGetIn {
    background-color: red;
}



div, header, footer{
    background-color: #FFEBCD;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
body {
    padding: 10px;
    margin: 0 auto;
}




