div.header {
    margin-left: 30px;
    margin-right: 30px;
    min-width: 700px;
    text-align: center;

}



div.container {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 840px;
    position: relative;
    background-color: white;
}

div.description {
    margin-left: 520px;
    min-width: 300px;
}

div.right_part {
    width: 460px;
    float: left;
    position: absolute;
    height: 340px;
    top: 50%;
    margin-top: -170px;
}
img.graph {
    width: 150px;
    height: 150px;
    margin-right: 5px;
}
img.kitten {
    margin-left: 5px;
    width: 150px;
    height: 150px;
}

div.graph {
    text-align: center;
}


div.result_table {
    clear: both;
    margin: 20px;
    min-width: 840px;
}
div.footer {
    margin: 20px;
    min-width: 840px;
}
table {
    width: 100%;
    margin-bottom: 20px;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}
.table tbody tr:nth-child(odd){
    background: #fff;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}



div {
    background-color: #FFEBCD;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
body {
    padding: 10px;
    margin: 0 auto;
}

